POSTGRES_USER=agentic_admin
POSTGRES_PASSWORD=secret_postgres_pass
POSTGRES_DB=agentic_lab

PGADMIN_DEFAULT_EMAIL=admin@agentic.com
PGADMIN_DEFAULT_PASSWORD=admin

REDIS_PASSWORD=secret_redis_pass
NEO4J_PASSWORD=secret_neo4j_pass

OLLAMA_BASE_URL=http://ollama:11434
WEBUI_SECRET_KEY=change_me_webui_secret

NEXTAUTH_SECRET=change_me_nextauth_secret
SALT=change_me_langfuse_salt

QDRANT_API_KEY=
